<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <joint name="camera_device_joint" type="fixed">
    <parent link="ee_base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.0 0.1 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
    </collision>
  </link>

  </robot>